<!DOCTYPE html>
<html>
<script type="text/javascript">
  window.transferYikesFavicon = "<%= image_url('transferYikes.ico') %>"
  window.alamedaCove = "<%= image_url('alameda-cove.jpg') %>"
  window.yosemiteRiver = "<%= image_url('yosemite-river.jpg') %>"
  window.transamerica = "<%= image_url('transamerica.jpg') %>"
  window.goldenFog = "<%= image_url('golden-fog.jpg') %>"
  window.sunset = "<%= image_url('alameda-sunset.jpg') %>"
  window.USD = "<%= image_url('USD_flag.png') %>"
  window.AUD = "<%= image_url('AUD_flag.png') %>"
  window.CAD = "<%= image_url('CAD_flag.png') %>"
  window.CNY = "<%= image_url('CNY_flag.png') %>"
  window.GBP = "<%= image_url('GBP_flag.png') %>"
  window.JPY = "<%= image_url('JPY_flag.png') %>"
  window.EUR = "<%= image_url('EUR_flag.png') %>"
</script>
  <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157419584-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-157419584-2');
    </script>
    <title>TransferYikes</title>
    <link rel = "icon" type = "image/png" href = "<%= image_url('transferYikes.ico') %>">
    <!-- For apple devices -->
    <link rel = "apple-touch-icon" type = "image/png" href = "<%= image_url('transferYikes.ico') %>"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Exo+2|Russo+One|Ubuntu|Raleway:300,400,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
